@import "tailwindcss";

:root {
  --primary-dark: #7c5dfa;
  --primary-light: #9277ff;
  --secondary-light: #ec5757;
  --secondary-dark: #ec8687;
  --tertiary-light: #1e2139;
  --tertiary-dark: #252945;
  --gray-light: #dfe3fa;
  --gray-dark: #888eb0;

  --font-sans: "Inter", san-serif;

  --text-xl: 2rem; /* 32px */
  --text-lg: 1.5rem; /* 24px */
  --text-md: 1.25rem; /* 20px */
  --text-base: 1rem; /* 16px */
  --text-sm: 0.875rem; /* 14px */
  --text-xs: 0.75rem; /* 12px */

  /* Line Heights */
  --leading-xl: 2.25rem;
  --leading-lg: 2rem;
  --leading-md: 1.75rem;
  --leading-base: 1.5rem;
}
@theme {
  --color-primary-dark: #7c5dfa;
  --color-primary-light: #9277ff;
  --color-secondary-light: #ec5757;
  --color-secondary-dark: #ec8687;
  --color-tertiary-light: #1e2139;
  --color-tertiary-dark: #252945;
  --color-gray-light: #dfe3fa;
  --color-gray-dark: #888eb0;

  --font-sans: var(--font-sans);

  --text-heading-xl: var(--text-xl);
  --text-heading-lg: var(--text-lg);
  --text-heading-md: var(--text-md);

  --text-body-lg: var(--text-base);
  --text-body-md: var(--text-sm);
  --text-body-sm: var(--text-xs);

  --leading-heading-xl: var(--leading-xl);
  --leading-heading-lg: var(--leading-lg);
  --leading-heading-md: var(--leading-md);
}
